<!DOCTYPE html>
<head>
    <title>Mod Tools</title>
    <style>
        .navbar {
            top: 0;
            width: 100%;
            overflow: auto;
            position: fixed;
            border-bottom: 3px solid black;
            padding-bottom: 8px;
            background: white;
        }
        .content {
            margin-top: 3em;
            padding: 16px;
        }
        .disabled_text {
            color: #868686;
        }
        .infobox {
            border-bottom: 1px solid gray;
            height: 3em;
            display: flex;
            align-items: center;
        }
        .infoitem {
            margin-right: 1em;
        }
        .warning {
            text-decoration: underline solid rgb(255, 115, 0);
        }
        .row {
            display: flex;
        }
        .column {
            flex: 50%;
            padding: 4px;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <b>Mod Tools</b>
        <form action="/mod_page" method="POST">
            Search: <select id="search_type" onchange="check_content_search_valid(this)" style="margin-right:15px" name="search_type">
                <option></option>
                <option>Users</option>
                <option>Comments</option>
                <option>Listings</option>
                <option>Ratings</option>
            </select>
            <label stlye="display:inline" class="disabled_text" title="For Listings, this is the address" id="orph_label">
                Orphaned Data?
            </label>
            <input type="checkbox" id="get_orphaned" disabled onchange="check_content_search_valid(document.getElementById('search_type'))" name="get_orphaned"/>
            <input id="uid_search" placeholder="User ID" name="uid_search" disabled/>
            <input id="content_search" placeholder="Content" name="content_search" disabled/>
                <label style="display:inline;cursor:help;" class="disabled_text" title="For Listings, this is the address&#010For Ratings, this is ListingID" id="help_label">(?)</label>
            <input style="margin-left:25px" id="submit" type="submit" disabled/>
        </form>
    </div>
    <div class="content">
        <div class="row">
            <div class="column">
                {% if content %}
                {% for record in content %}
                    {% if content_type == "Users" %}
                        <div class="infobox">
                            <div class="infoitem"><b>Username:&nbsp;</b>{{record.Username}}</div>
                            <div class="infoitem"><b>Email:&nbsp;</b>{{record.Email}}</div>
                            <div class="infoitem"><b>User ID:&nbsp;</b>{{record.UserID}}</div>
                            <div class="infoitem"><b>Moderator?&nbsp;</b>{{record.ismod}}</div>
                            {% if record.flag %} <div class="infoitem"><b>Flag&nbsp;</b><div class="warning">{{record.Flag}}</div></div> {% endif %}
                        </div>
                    {% endif %}
                    {% if content_type == "Comments" %}
                        <div class="infobox">
                            <div class="infoitem"><b>Username:&nbsp;</b>{{record.Username}}</div>
                            <div class="infoitem"><b>Email:&nbsp;</b>{{record.Email}}</div>
                            <div class="infoitem"><b>User ID:&nbsp;</b>{{record.UserID}}</div>
                            <div class="infoitem"><b>Moderator?&nbsp;</b>{{record.ismod}}</div>
                        </div>
                    {% endif %}
                    {% if content_type == "Listings" %}
                        <div class="infobox">
                            <div class="infoitem"><b>Listing ID:&nbsp;</b>{{record.ListingID}}</div>
                            <div class="infoitem"><b>Address:&nbsp;</b>{{record.Address}}</div>
                            <div class="infoitem"><b>Beds/Baths:&nbsp;</b>{{record.UserID}}</div>
                            <div class="infoitem"><b>Moderator?&nbsp;</b>{{record.ismod}}</div>
                        </div>
                    {% endif %}
                    {% if content_type == "Ratings" %}
                        <div class="infobox">
                            <div class="infoitem"><b>User ID:&nbsp;</b>{{record.UserID}}</div>
                            <div class="infoitem"><b>ListingID:&nbsp;</b>{{record.ListingID}}</div>
                            <div class="infoitem"><b>Rating:&nbsp;</b>{{record.Rating}}</div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% else %}
                {% if content_type %} No matching records found. {% endif %} Input a search to view records
                {% endif %}
            </div>
            <div class="column">
                haii
            </div>
        </div>
    </div>
    
    <script>
        function check_content_search_valid(dropdown) {
            const uid_search = document.getElementById("uid_search");
            const content_search = document.getElementById("content_search");
            const get_orphaned = document.getElementById("get_orphaned");
            const submit = document.getElementById("submit");
            const help_label = document.getElementById("help_label");
            const orph_label = document.getElementById("orph_label");
            if(dropdown.value === "") {
                submit.disabled = true;
            } else {
                submit.disabled = false;
            }
            if(!get_orphaned.checked){
                if(dropdown.value === "Users") {
                    uid_search.disabled = false;
                    content_search.disabled = true;
                    get_orphaned.disabled = true;
                    orph_label.classList.add("disabled_text")
                    help_label.classList.add("disabled_text")
                } else if(dropdown.value === "Listings") {
                    uid_search.disabled = false;
                    content_search.disabled = false;
                    get_orphaned.disabled = true;
                    orph_label.classList.add("disabled_text")
                    help_label.classList.remove("disabled_text")
                } else {
                    uid_search.disabled = false;
                    content_search.disabled = false;
                    get_orphaned.disabled = false;
                    orph_label.classList.remove("disabled_text")
                    help_label.classList.remove("disabled_text")
                }
            } else {
                uid_search.disabled = true;
                content_search.disabled = true;
                help_label.classList.add("disabled_text")
            }
        }
    </script>
    
</body>